.main-container{
    background-image: url("https://raw.githubusercontent.com/UziAlam/M1-Project/refs/heads/main/Images/ChatGPT%20Image%20Nov%2029%2C%202025%2C%2009_56_22%20PM.png");   
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
    background-color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =====================================================================
                          GAME START SECTION
====================================================================== */

.game-intro{
    color: rgb(248, 195, 54);
    position: absolute;
    text-align: center;
    top: 1px;
    
}

.millionaire-intro {
    color: rgb(248, 195, 54);
    position: absolute;
    text-align: center;
    top: 40px;
}

.Start-Game-Btn {
    position: absolute;
    text-align: center;
    bottom: 24px;
    padding: 20px 60px 20px 60px;
    color: rgb(235, 166, 28);
    border-radius: 15px;
    background-color: rgb(24, 27, 65);
    font-size: 25px;
    font-weight: 900;
    border-color: rgb(248, 195, 54);
    box-shadow: 0 1px 10px 0 rgba(248, 195, 54), 0 3px 6px rgba(248, 195, 54);
}

.Start-Game-Btn:hover{
    background-color: rgb(248, 195, 54);
    color: white;
    box-shadow: 0 0 10px rgb(248, 195, 54);
}

.Start-Game-Btn:active {
    transform: translateY(1px);
    box-shadow: inset 0 2px 4px rgb(248, 195, 54);
}

#game-screen{
    display: none;
    /* flex-direction: row; */
}

#quiz-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #0f178d;
    color: white;
    min-height: 97.5vh;
    /* padding: 40px; */
    text-align: center;
    border: 5px solid black;
}

#rewards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.4;
    align-items: center;
    background-color: #0f178d;
    color: white;
    min-height: 97.5vh;
    text-align: center;
    border: 5px solid black;
    font-size: 35px;
    list-style-type: none;
}

#rewards-list{
    /* background-color: #ecc71f; */
    padding: 80px;
    width: 150px;
    border-radius: 6px;
}

.amount{
    /* text-align: center; */
    color: rgba(255, 255, 255, 0.934);
    list-style-type: none;
    width: 200px;
}

#question {
    background-color: #06236c;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0 0 10px #1e90ff;
    
}

#answersList {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 20px;
    max-width: 800px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#answersList li {
    background: #072f7c;
    border: 2px solid #1e90ff;
    border-radius: 25px;
    padding: 10px 65px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#answersList li:hover {
    background: #ecc71f;
    color: black;
    transform: scale(1.02);
}

.option-number {
    color: orange;
    margin-right: 10px;
    font-weight: bold;
}


#end-screen{
    display: none;
}

#wrong-answer-screen{
    display: none;
}

#end-screen{
    
}